<div id='ticket'>
<% if @comment.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
  <ul>
    <% @comment.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
 <h2><%= @ticket.title %></h2>
  <span id='author'><small>Created by <%= @ticket.user.email %></small></span>
  <%= render @ticket.state if @ticket.state %>
  <%= authorized?("edit tickets", @project) do %>
  <%= link_to "Edit Ticket", [:edit, @project, @ticket] %>
  <% end %>
  <%= authorized?("delete tickets", @project) do %>
  <%= link_to "Delete Ticket", [@project, @ticket], method: :delete,
  data: { confirm: "Are you sure you want to delete this ticket?"} %>
  <% end %>
  <%= simple_format(@ticket.description) %>
  <% if @ticket.assets.present? %>
  <h3>Attached Files</h3>
  <div class='assets'>
    <% @ticket.assets.each do |asset| %>
    <p>
      <%= link_to File.basename(asset.asset.path), file_path(asset) %>
    </p>
    <p>
      <small><%= number_to_human_size(asset.asset.size) %></small>
    </p>
    <% end %>
  </div>
  <% end %>
  <% if @ticket.comments.exists? %>
  <h3>Comments</h3>
  <div id='comments'>
    <%= render partial: @ticket.comments %>
  </div>
  <% end %>
  <h3>New comment</h3>
  <%= render partial: "comments/form" %>
</div>